
/*nav-styles*/
nav{
    margin-top: 50px;
    margin-right: 140px;
    margin-left: 140px;
    flex-shrink: 0; 
    background-image: url('../resources/Banner\ Image.png');
    background-repeat: no-repeat;
}
.nav-titale{
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
padding-top: 177px;
}
.nav-disc{
    text-align: center;
    width: 632px;
    color: #FFF;
font-size: 72px;
font-style: normal;
font-weight: 900;
padding-right: 344px;
padding-left:344px;
padding-bottom:177px ;  
}
/* main-section-styles*/
/*offer-section*/
.offer{ 
    text-align: center;
}  
     .off{color: #F00;
    text-align: center;
    font-size: 88px;
    font-weight: 700;
       }
    .our{
        color: #F00;
text-align: center;
font-size: 24px;
font-style: normal;
font-weight: 500;

 }
    .valo{
        padding-top: 5px;
        color: #070211;
text-align: center;
font-size: 48px;
font-style: normal;
font-weight: 700;
 } .pic{
    text-align: center;
 }
 /*party-style*/
 .nigth{
    display: flex;
    margin: auto;
    width: 1320px;
height: 600px;
flex-shrink: 0;
    text-align: center;
    background-image: url(../resources/Vectorrr.png );
    margin-top: 120px;}
 .welcome{
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px; /* 137.5% */
    letter-spacing: 7.04px;idth: 642px;
    padding-left: 120px;
    padding-top: 126px;
 }
 .party{
    width: 697px;
    color: rgba(255, 255, 255, 0.80);
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
padding-left: 126px;
padding-top: 20px;
 }
 .Join{
    color: #FFF ;
font-size: 20px;
font-weight: 700;
text-decoration: none;
text-align: left;
 }
 .picture{
    display: flex;
    width: 319.83px;
    height: 464.662px;
    padding: 68px 128px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;  
    color:rgba(105, 11, 2, 1), 
    rgba(143, 73, 65, 1), 
    rgba(177, 128, 121, 1),
     rgba(205, 173, 168, 1),
      rgba(227, 209, 205, 1),
       rgba(242, 234, 231, 1),
        rgba(252, 250, 246, 1),
     rgba(255, 255, 252, 1) ;
     <svg xmlns="http://www.w3.org/2000/svg" width="143" height="142" viewBox="0 0 143 142" fill="none">
     <path style="mix-blend-mode:multiply" d="M121.697 121.239C149.354 93.5823 149.354 48.7414 121.697 21.0844C94.0395 -6.57266 49.1986 -6.57265 21.5416 21.0844C-6.11544 48.7414 -6.11545 93.5823 21.5416 121.239C49.1986 148.896 94.0395 148.896 121.697 121.239Z" fill="url(#paint0_radial_114_6311)"/>
     <defs>}
 /*location styles*/
 .VEJAL{
  color: #F00;
 }
.location{ 
    margin: 120px 140px;
    width: 1320px;
    height: 482px;
    background-color:antiquewhite;
     fill:linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
     
}
#hudai{
    color: #070211;
font-size: 32px;
font-weight: 600;
line-height: 56px;
text-align: center;
font-size: 32px;
font-weight: 600;
line-height: 56px; /* 175% */
padding-top: 80px;
padding-bottom: 200px;
}
.jwn{
    color: #FFF;
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border-color:#FFF;
background: #F00;
}
