
/*nav-styles*/
nav{
    margin-top: 50px;
    margin-right: 140px;
    margin-left: 140px;
    flex-shrink: 0; 
    background-image: url('../resources/Banner\ Image.png');
    background-repeat: no-repeat;
}
.nav-titale{
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
padding-top: 177px;
}
.nav-disc{
    text-align: center;
    width: 632px;
    color: #FFF;
font-size: 72px;
font-style: normal;
font-weight: 900;
padding-right: 344px;
padding-left:344px;
padding-bottom:177px ;  
}
/*section-styles*/
.offer{ 
    text-align: center;
}  
     .off{color: #F00;
    text-align: center;
    font-size: 88px;
    font-weight: 700;
       }
    .our{
        color: #F00;
text-align: center;
font-size: 24px;
font-style: normal;
font-weight: 500;

 }
    .valo{
        padding-top: 5px;
        color: #070211;
text-align: center;
font-size: 48px;
font-style: normal;
font-weight: 700;
 } .pic{
    text-align: center;
 }
 .nigth{
    display: flex;
    margin: auto;
    width: 1320px;
height: 600px;
flex-shrink: 0;
    text-align: center;
    background-image: url(../resources/Vectorrr.png );
 }