
/*nav-styles*/
nav{
    margin-top: 50px;
    margin-right: 140px;
    margin-left: 140px;
    flex-shrink: 0; 
    background-image: url('../resources/Banner\ Image.png');
    background-repeat: no-repeat;
}
.nav-titale{
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
padding-top: 177px;
}
.nav-disc{
    text-align: center;
    width: 632px;
    color: #FFF;
font-size: 72px;
font-style: normal;
font-weight: 900;
padding-right: 344px;
padding-left:344px;
padding-bottom:177px ;  
}
/* main-section-styles*/
/*offer-section*/
.offer{ 
    text-align: center;
}  
     .off{color: #F00;
    text-align: center;
    font-size: 88px;
    font-weight: 700;
       }
    .our{
        color: #F00;
text-align: center;
font-size: 24px;
font-style: normal;
font-weight: 500;

 }
    .valo{
        padding-top: 5px;
        color: #070211;
text-align: center;
font-size: 48px;
font-style: normal;
font-weight: 700;
 } .pic{
    text-align: center;
 }
 /*party-style*/
 .nigth{
    display: flex;
    margin: auto;
    width: 1320px;
height: 600px;
flex-shrink: 0;
    text-align: center;
    background-image: url(../resources/Vectorrr.png );
    margin-top: 120px;}
 .welcome{
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px; /* 137.5% */
    letter-spacing: 7.04px;
    padding-left: 120px;
    padding-top: 126px;
 }
 .party{
    width: 697px;
    color: rgba(255, 255, 255, 0.80);
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
padding-left: 126px;
padding-top: 20px;
 }
 .Join{
    color: #FFF ;
font-size: 20px;
font-weight: 700;
text-decoration: none;
text-align: left;
 }
 .picture{
    display: flex;
    width: 319.83px;
    height: 464.662px;
    padding: 68px 128px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;  
    color:rgba(105, 11, 2, 1), 
    rgba(143, 73, 65, 1), 
    rgba(177, 128, 121, 1),
     rgba(205, 173, 168, 1),
      rgba(227, 209, 205, 1),
       rgba(242, 234, 231, 1),
        rgba(252, 250, 246, 1),
     rgba(255, 255, 252, 1) ;
  }
 /*location styles*/
 .VEJAL{
  color: #F00;
 }
.location{ 
    margin: 120px 140px;
    width: 1320px;
    height: 482px;
    background-color:antiquewhite;
     fill:linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
     
}
#hudai{
    color: #070211;
font-size: 32px;
font-weight: 600;
line-height: 56px;
text-align: center;
font-size: 32px;
font-weight: 600;
line-height: 56px; /* 175% */
padding-top: 80px;
padding-bottom: 200px;
}
.jwn{
    color: #FFF;
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border-color:#FFF;
background: #F00;
}
/*pro-section-styles*/
.pro-hero{
max-width: 1600px;
max-height:7335px;
background: #FFF;
display: flex;
justify-content:space-between
}
.BEST{
    color: #F00;
    font-size: 24px;
    font-weight: 500;

}
.coming{
    color: #070211;
font-size: 60px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
margin-top: 16px;
margin-bottom: 10px;
}
.Dolor{
    width: 393px;
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
}
.chobi{
    background: url(<path-to-image>), lightgray -91.279px 0px / 150.038% 100% no-repeat;    
    width: 364.844px;
    height: 364.844px;
    flex-shrink: 0;
    border-radius: 463px;
border: 15px solid #F00;}
.para{
    color: #F00;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.dlr{
    width: 276px;
    height: 100px;
    color: rgba(7, 2, 17, 0.60);
font-size: 20px;
font-weight: 400;
line-height: 32px; /* 160% */
}